body {
  margin: 0;
}

h1 {
  font-size: 32px;
}

li {
  border-bottom: 1px solid gray;
  padding: 4px;
}
li:first-child { border-top: 1px solid gray; }

.image-item > img{
  width: 36px;
  height: 36px;
}

li {
  background: 
    -webkit-linear-gradient(top, 
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0) 30px
    ),
     
    url("/images/bg_noise_80x80.png") repeat;
}
